.app-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-wrapper{
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}